@charset "UTF-8";

.CustomerLogin {
	position: absolute;
	width: 639px;
	height: 114px;
	left: 421px;
	top: 274px;
	border-radius: 40px;
}

.EmployeeLogin {
	position: absolute;
	width: 639px;
	height: 114px;
	left: 421px;
	top: 543px;
	border-radius: 40px;
}

.customerLoginForm {
	position: absolute;
	width: 639px;
	height: 114px;
	left: 664px;
	top: 404px;
	display: none;
}